@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .hero {
    position: relative;
  }
  
  .animatedImage::before,
  .animatedImage::after {
    content: '';
    display: block; /* This is necessary for pseudo-elements to be visible */
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .animatedImage::before {
    top: -10px; /* Adjust as needed */
    left: -10px; /* Adjust as needed */
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    background-image: url('/Treasure.webp'); /* Update this path as needed */
    animation: spin 2s linear infinite, float 5s ease-in-out infinite;
  }
  
  .animatedImage::after {
    bottom: -10px; /* Adjust as needed */
    right: -10px; /* Adjust as needed */
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    background-image: url('/star.webp'); /* Update this path as needed */
    animation: spin 3s linear infinite reverse, float 6s ease-in-out infinite;
  }
  
  
  
  